* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.list-inline {
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding: 0 10px;
}

.list-inline a:not(.btn) {
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.w-50 {
    width: 50%;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-lg {
    padding: 20px;
}

.btn-blue {
    background-color: #2A4F75;
    border: 1px solid white;
}

.btn-green {
    background-color: #7cbb02;
    border: 1px solid #7cbb02;
}

header {
    height: 550px;
    background-color: #2A4F75;
    background-image: url('img/background-header.png');
    background-position: 112% 106%;
    background-size: 65% auto;
    background-repeat: no-repeat;
}

.header-nav {
    height: 80px;
    line-height: 80px;
}

.header-logo {
    width: 15%;
    height: 100%;
}

.header-logo img {
    vertical-align: middle;
}

.nav-left {
    width: 45%;
    height: 100%;
    text-align: left;
}

.nav-right {
    width: 40%;
    height: 100%;
    text-align: right;
}

.jumbotron {
    position: relative;
    height: 470px;
}

.jumbotron-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

h1 {
    color: white;
    font-size: 55px;
    margin-bottom: 30px;
}

.barra-grigia {
    position: relative;
    background-color: #D3D3D3;
    height: 120px;
}

.barra-grigia-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.testo-grassetto {
    font-size: 26px;
    color: black;
    /* text-align: center; */
    padding-bottom: 10px;
}

.testo-piccolo {
    font-size: 20px;
    color: grey;
    text-align: center;
    padding-bottom: 10px;
}

.layout-3-colonne {
    /* height: 500px; */
    border-bottom: 1px solid grey;
}

.colonna-layout-3-colonne {
    width: calc(100% / 3);
    height: 100%;
    padding: 25px;
}

.layout-3-colonne-img {
    height: 200px;
}

.layout-3-colonne-img > img {
    display:block;
    margin:0px auto;
    text-align:center;
    height: 100%;
    padding-bottom: 25px;
}

.testo-verde {
    font-size: 26px;
    color: #8AC21F;
    text-align: center;
    margin-bottom: 30px;
}


.colonna-layout-2-colonne {
    width: calc(100% / 2);
    height: 100%;
}

.padding-main-inferiore {
    padding: 25px 80px;
}

.colonna-layout-2-colonne > img {
    display:block;
    margin: 0 auto;
    text-align:center;
    width: 100%;
}

.colonna-layout-2-colonne > a {
    display: inline-block;
    font-size: 16px;
}

.main-inferiore {
    text-align: left;
}

.barra-grigia-footer-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

footer {
    background-color: #D3D3D3;
    height: 120px;
    position: relative;
}

.layout-2-colonne {
    height: 100%;
}

.colonna-footer {
    position: relative;
    height: 100%;
}

.footer-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

select {
    color: grey;
    background-color: #D3D3D3;
    font-size: 20px;
    border-right: #FFFFFF 0px solid;
	border-top: #FFFFFF 0px solid;
	border-left: #FFFFFF 0px solid;
	border-bottom: grey 1px solid;
}

.help {
    position: fixed;
    bottom: 0;
    right: 20%;
}

.tasto-help {
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #7cbb02;

}

